In [1]:
import numpy as np
import pandas as pd

# Predicci√≥n de datos con nuestro modelo escogido

In [7]:
import joblib

new_model = joblib.load(r"D:\Bootcamp\MLproyecto\Notebooks\new_model.pkl")

In [8]:
apredecir=pd.read_csv(r"D:\Bootcamp\MLproyecto\Data\Processed\ApredecirML.csv", sep=";")
apredecir.shape

(18, 5)

In [9]:
x_pred=apredecir

In [10]:
y_pred=new_model.predict(x_pred)

In [13]:
apredecir["Resultado"]= y_pred
apredecir

    MES  COMERCIAL_NUM  TELEOP_NUM  CANAL_NUM  tipodeobra  Resultado
0   500              7           5          1           3          0
1   500              3           1          3           3          0
2   500              1           9          1           1          0
3   500              3           5          1           5          0
4   500              2           9          1           1          0
5   500              7           1          3           5          1
6   500              3           4          1           5          0
7   500              3           5          1           5          0
8   500              3           5          1           3          0
9   500              3           1          3           5          0
10  500              7           4          1           1          0
11  600              1           1          3           1          1
12  600              1           3          1           5          0
13  600              7           3          3           5          1
14  600              7           3          3           4          1
15  600              2           3          3           1          0
16  600              1           4          1           1          0
17  600              5           9          1           5          1

In [14]:
ruta="D:\Bootcamp\MLproyecto\Data\Processed\prediccion.csv"
apredecir.to_csv(ruta, index=False)